[package]
name = "helper"
version = "0.1.0"
edition = "2021"

[features]
# All features on by default.
default = ["std", "atomic", "asynch", "crypto", "num", "time", "thread"]
std     = []
atomic  = []
asynch  = ["dep:futures"]
crypto  = ["dep:curve25519-dalek"]
num     = []
time    = ["dep:chrono", "std"]
thread  = ["std", "dep:target_os_lib"]

[dependencies]
chrono           = { workspace = true, optional = true }
curve25519-dalek = { workspace = true, optional = true }
futures          = { workspace = true, optional = true }
serde            = { workspace = true, optional = true }
bincode          = { workspace = true, optional = true }

# This is kinda a stupid work around.
# [thread] needs to activate one of these libs (windows|libc)
# although it depends on what target we're building for.
[target.'cfg(windows)'.dependencies]
target_os_lib = { package = "windows", version = ">=0.51", features = ["Win32_System_Threading", "Win32_Foundation"], optional = true }
[target.'cfg(unix)'.dependencies]
target_os_lib = { package = "libc", version = "0.2.151", optional = true }

[dev-dependencies]
tokio = { workspace = true }
