[package]
name = "cuprate"
version = "0.0.1"
edition = "2021"
rust-version = "1.67.0"
description = "An upcoming experimental, modern & secure monero node"
readme = "readme.md"
license = "AGPL-3.0-only"
repository = "https://github.com/SyntheticBird45/cuprate"


# All Contributors on github
authors=[
        "SyntheticBird45 <@someoneelse495495:matrix.org>",
        "Boog900"
        ]

[workspace]

members = [
        "database",
        "net/levin",
        "net/monero-wire"
]

[workspace.dependencies]
monero = { version = "*" }
bincode = { version = "2.0.0-rc.3" }
serde = { version = "*", features =["derive"]}

# As suggested by /u/danda :
thiserror = "*"

[profile.release]
opt-level = 3
debug = 0
strip = "symbols"
lto = "thin"
panic = "abort"

[build]
linker="clang"
rustflags=[
	"-Clink-arg=-fuse-ld=mold",
	"-Zcf-protection=full", 
	"-Zsanitizer=cfi", 
	"-Crelocation-model=pie", 
	"-Cstack-protector=all",
]