[package]
name        = "cuprate-rpc-types"
version     = "0.0.0"
edition     = "2021"
description = "Monero RPC types"
license     = "MIT"
authors     = ["hinto-janai"]
repository  = "https://github.com/Cuprate/cuprate/tree/main/rpc/types"
keywords    = ["cuprate", "rpc", "types", "monero"]

[features]
default = ["serde", "epee"]
serde   = ["dep:serde", "cuprate-fixed-bytes/serde"]
epee    = ["dep:cuprate-epee-encoding"]

[dependencies]
cuprate-epee-encoding = { path = "../../net/epee-encoding", optional = true }
cuprate-fixed-bytes   = { path = "../../net/fixed-bytes" }
cuprate-types         = { path = "../../types" }

paste        = { workspace = true }
serde        = { workspace = true, optional = true }

[dev-dependencies]

[lints]
workspace = true