[package]
name        = "cuprate-blockchain"
version     = "0.0.0"
edition     = "2021"
description = "Cuprate's blockchain database"
license     = "MIT"
authors     = ["hinto-janai"]
repository  = "https://github.com/Cuprate/cuprate/tree/main/storage/cuprate-blockchain"
keywords    = ["cuprate", "blockchain", "database"]

[features]

[dependencies]
crossbeam = { workspace = true, features = ["std", "crossbeam-channel"] }
cuprate-helper           = { workspace = true, features = ["fs", "map", "crypto", "tx", "thread"] }
cuprate-types            = { workspace = true, features = ["blockchain"] }
cuprate-pruning          = { workspace = true }

tapes     = { git = "https://github.com/Cuprate/Tapes.git", rev = "3d0e169" }
tracing = { workspace = true }
bytemuck         = { workspace = true, features = ["must_cast", "derive", "min_const_generics", "extern_crate_alloc"] }
monero-oxide     = { workspace = true, features = ["std"] }
serde            = { workspace = true, optional = true }
fjall = { workspace = true }

futures = { workspace = true, features = ["std"]}

rand         = { workspace = true, features = ["std"] }
itertools    = { workspace = true }
indexmap     = { workspace = true, features = ["rayon", "std"] }
tower        = { workspace = true }
thread_local = { workspace = true }
rayon        = { workspace = true }
bytes        = { workspace = true }
thiserror    = { workspace = true, features = ["std"] }

[dev-dependencies]
cuprate-constants  = { workspace = true }

proptest          = { workspace = true }

[lints]
workspace = true
