[package]
name = "cuprate-p2p-transport"
version = "0.1.0"
edition = "2021"
license = "MIT"
authors = ["SyntheticBird"]

[features]
default = ["static"]
arti = ["arti-client", "tor-config-path", "tor-cell", "tor-hsservice", "tor-proto", "tor-rtcompat"]
static = ["arti", "arti-client/static"]

[dependencies]
cuprate-p2p-core = { workspace = true }
cuprate-wire = { workspace = true }

async-trait = { workspace = true }
futures = { workspace = true }
tokio = { workspace = true, features = ["net"] }
tokio-socks   = { workspace = true, features = ["tokio"] }
tokio-util = { workspace = true, features = ["codec"] }
arti-client = { workspace = true, optional = true, features = ["tokio", "native-tls", "onion-service-client", "onion-service-service", "experimental-api", "static-sqlite"] }
tor-config-path = { workspace = true, optional = true }
tor-cell        = { workspace = true, optional = true }
tor-hsservice   = { workspace = true, optional = true }
tor-proto       = { workspace = true, optional = true }
tor-rtcompat    = { workspace = true, optional = true }

[lints]
workspace = true
