[package]
name = "cuprate-db"
version = "0.0.1"
edition = "2021"
license = "AGPL-3.0-only"

# All Contributors on github
authors=[
        "SyntheticBird45 <@someoneelse495495:matrix.org>"
        ]

[dependencies]
monero = {workspace = true, features = ['serde']}
serde = { workspace = true}
thiserror = {workspace = true }

libmdbx = "0.3.1"

[build]
linker="clang"
rustflags=[
	"-Clink-arg=-fuse-ld=mold",
	"-Zcf-protection=full", 
	"-Zsanitizer=cfi", 
	"-Crelocation-model=pie", 
	"-Cstack-protector=all",
]