[package]
name = "levin"
version = "0.1.0"
edition = "2021"
description = "A crate for working with the Levin protocol in Rust."
license = "MIT"
authors = ["Boog900"]
repository = "https://github.com/SyntheticBird45/cuprate/#####"

[dependencies]
bitflags = "1.3.2"
thiserror = "1.0.24"
byteorder = "1.4.3"
futures = "0.3"
bytes = "1"
pin-project = "1"
