[package]
name = "cuprate-fast-sync"
version = "0.1.0"
edition = "2021"
license = "MIT"

[[bin]]
name = "cuprate-fast-sync-create-hashes"
path = "src/create.rs"

[dependencies]
clap = { workspace = true, features = ["derive", "std"] }
cuprate-blockchain = { path = "../../storage/cuprate-blockchain" }
cuprate-types = { path = "../../types" }
hex-literal.workspace = true
rayon.workspace = true
sha3 = "0.10.8"
tokio = { workspace = true, features = ["full"] }
tower.workspace = true

[dev-dependencies]
tokio-test = "0.4.4"
