# This runs `cargo audit` on all dependencies (only if Cargo deps changed)

name: Audit

on:
  push:
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  audit:

    runs-on: ubuntu-latest

    steps:
    - name: Cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo
          target
        key: audit
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install dependencies
      run: cargo install cargo-audit --locked
    - name: Audit
      run: cargo audit
